*{
margin: 0;
padding: 0;
}
body{
#object{ 
        width: 500px;
        height: 300px;
        background-repeat: no-repeat;
        background-position: center;

img { 
    width: 30px; /* Largura da imagem */
   height: auto; /* Altura proporcional à largura */
   display: block; /* Faz a imagem se comportar como um bloco */
   }
}