*{
    margin: 0;
    padding: 0;
    }
    body{
        background-image: url('/img/TURVO.png');
    background-size: 800px auto; /* 100% de largura e 100% de altura */
    background-repeat: no-repeat; /* Para evitar a repetição da imagem */
    background-position: center;
    background-color: #131313;
    overflow: hidden;
    }
    #object{
    background-color: rgb(10, 14, 240);
    position: absolute;
    width: 50px;
    height: 50px;
    margin: 10px;
    filter: drop-shadow(0 0 15px white);
    }